<div class="col-md-3">
  <div class='random-recipe-card'>
    <div class='recipe-card-title'>
      <h2 class='no-margin'><%= link_to recipe.name, recipe_path(recipe) %></h2>
    </div>
    <p> Recipe Source: <a href="<%= recipe.url %>"><%= recipe.source %></a></p>
  <%= render partial: 'partials/recipe_card_image', locals: {recipe: recipe} %>
  <%= link_to 'Save To Recipe Book', recipe_books_path, {class: "save-recipe-btn btn btn-primary", id: "#{recipe.id}"} %>
  </div>
</div>
