<div class="col-md-3">
  <div class='random-recipe-card'>
    <div class='recipe-card-title'>
      <h2 class='no-margin'><%= link_to recipe.name, recipe_path(recipe) %></h2>
    </div>
    <p> Recipe Source: <a href="<%= recipe.url %>"><%= recipe.source %></a></p>
    <% if recipe.image_url.length > 0 %>
      <img class="recipe-image" src="<%= recipe.image_url %>">
    <% else %>
      <div class='dinner-icon'>
        <%= image_tag "dinner_icon.png", class:"recipe-card-image" %>
      </div>
    <% end %>
    <%= link_to 'Save To Recipe Book', recipe_books_path, {class: "save-recipe-btn btn btn-primary", id: "#{recipe.id}"} %>
  </div>
</div>
