<div class="recipe">
  <h2><%= link_to recipe.name, recipe_path(recipe) %></h2>

  <p> recipe source: <a href="<%= recipe.url %>">New York Times Cooking</a></p>
  <% if recipe.image_url %>
    <img class="recipe-image" src="<%= recipe.image_url %>">
  <% end %>
  <h3>Prep</h3>
  <h4>Instructions</h4>
  <%= recipe.instructions.html_safe %>
  <h4>Ingredients</h4>
  <ul>
    <% recipe.ingredients.each do |recipe_ingredient| %>
      <li><%= recipe_ingredient %></li>
    <% end %>
  </ul>
  <%= render partial: 'partials/save_recipe', locals: {recipe: recipe} %>
</div>

