<!DOCTYPE html>
<html>
  <head>
    <title>Whatsie</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Open+Sans:300,400|Overpass" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag 'application' %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <%= favicon_link_tag 'Food-icon-color.ico' %>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
    </script>

    <!-- Latest Sortable -->
    <script src="//rubaxa.github.io/Sortable/Sortable.js"></script>
    <script>
      var at_recipe = false;
      var at_edit = false;
    </script>
  </head>

  <body>
    <main class='main-container'>
      <%= render 'layouts/navbar' %>
      <div class='content'>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </main>



  </body>

  <script>
    var signed_in = <%== logged_in?.to_json %>
  </script>
</html>
